*{
    box-sizing: border-box;
}

header{
    background-color: #8CA7C7;
}

h1{
    font-size: 2.5rem;
    background-color: #8CA7C7;
    color: white;
    font-family: 'Staatliches', cursive;
    background-image: url('logo.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 80px;
    margin: 0;
}

h2{
    padding-left: 20px;
}

body{
    font-family: 'Verdana', sans-serif
}

nav{
    width: 160px;
    padding: 20px 5px 0px 20px;
    float: left;
}

main{
    margin-left: 170px;
    background-color: white;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav li{
    list-style: none;
    padding-right: 15px;
}

nav a:link{
    color: #000033;
}

nav a:hover{
    color: #CCCCCC;
}

nav a:visited{
    color: #CCCCCC;
}



p{
    padding-left: 20px;
}

.left{
    float: right;
}

.wrapper{
    width: 1000px;
    margin: 0 auto;
    background-color: grey;
}

#homeHero{
    background-image: url("officeHero.jpg");
    height: 300px;
    background-size: cover;
    background-position: 0 -300px;
}